
body {
	font-family: 'Times New Roman', Times, serif, sans-serif;
	margin: 5% 15%;
}

button {
	width: 50px;
	height: 25px;
	background-color: rgb(122, 162, 236);
	color: white;
	border-radius: 10px;
	margin: 10px;
	border: 1px;
	cursor: pointer;
}

button.visit {
	display: block;
	background-color: rgb(122, 162, 236);
}

a {
	text-decoration: none
}
li.article {
	list-style: none;
	border-radius: 25px;
	border: 1px solid black;
	padding: 15px;
	margin-bottom: 5px;
	

}
.stars-outer {
	display: inline-block;
	position: relative;
	font-family: FontAwesome;
  }
   
  .stars-outer::before {
	content: "\f006 \f006 \f006 \f006 \f006";
  }
   
  .stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
  }
   
  .stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	color: #f8ce0b;
  }

ul {
	padding: 0;
}

.rating {
	float: right;
}

button.toggleDescription,
button.visit {
	width: 100px;
}

input[type=text] {
	display: block;
	width: 50%;
	height: 20px;
	padding: 5px;
}

form p {
	color: #ec576b;
}
